<!--<p>blocks works!</p>-->
<!--{{data | json}}<br>-->
<!--{{currentTable | json}}<br>-->
<!--{{pagination | json}}-->

<div class="my-table">
  <div class="header">
    <div class="row">
      <div class="col-5 col-sm-3-8 col-md-3-9 col-lg-3 col-xl-2-7 my-th">Timestamp</div>
      <div class="col-7 col-sm-6-2 col-md-6-6 col-lg-7-8 col-xl-8-3 my-th">Txid</div>
      <div class="d-none d-sm-block col-sm-2 col-md-1-5 col-lg-1-2 col-xl-1 my-th">Amount</div>
    </div>
  </div>
  <div class="body">
    <div class="my-tr" *ngFor="let tx of currentTable">
      <div class="row">
        <div class="col-5 col-sm-3-8 col-md-3-9 col-lg-3 col-xl-2-7 my-td" [innerHtml]="tx.timestamp | prettyTime"></div>
        <div class="col-7 col-sm-6-2 col-md-6-6 col-lg-7-8 col-xl-8-3 my-td"><a [routerLink]="['/tx/' + tx.txid]" [innerHtml]="tx.txid"></a></div>
        <div class="d-none d-sm-block col-sm-2 col-md-1-5 col-lg-1-2 col-xl-1 my-td">
          <span class="badge badge-success" [ngClass]="{
        'badge-danger':(tx.total / 100000000) > flags.low_flag,
        'badge-warning':(tx.total / 100000000) > flags.high_flag
        }" [innerHtml]="tx.total ? (tx.total / 100000000).toFixed(1) : ''"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center loader" *ngIf="gettingTxs">
    <div class="d-table h-100">
      <div class="d-table-cell align-middle">
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation" *ngIf="!gettingTxVinVoutCount">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link pointer" aria-label="Previous" (click)="prevPage()">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item" (click)="setPage(num)" [ngClass]="{'active': pagination.current === num}" *ngFor="let num of ([] | range :pagination.start :pagination.end :1)"><a class="page-link pointer">{{num}}</a></li>
    <li class="page-item">
      <a class="page-link pointer" aria-label="Next" (click)="nextPage()">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    <li class="page-item">
      <form action="" (submit)="setPage(input)">
        <input class="page-link input" name="input" [(ngModel)]="input" type="text" size="1" placeholder="page">
      </form>
    </li>
  </ul>
</nav>
