<div *ngIf="block">
  <div class="head"><h4>Block Details</h4></div>
  <div class="my-table">
    <div class="body">
      <div class="my-tr">
        <div class="row">
          <div class="col-3-4 my-td">Hash</div>
          <div class="col-8-6 my-td" [innerHtml]="block.hash"></div>
        </div>
      </div>
      <div class="my-tr">
        <div class="row">
          <div class="col-3-4 my-td">Block height</div>
          <div class="col-8-6  my-td" [innerHtml]="block.height"></div>
        </div>
      </div>
      <div class="my-tr">
        <div class="row">
          <div class="col-3-4 my-td">Confirmations</div>
          <div class="col-8-6 my-td" [innerHtml]="block.confirmations"></div>
        </div>
      </div>
      <div class="my-tr">
        <div class="row">
          <div class="col-3-4 my-td">Transactions</div>
          <div class="col-8-6 my-td" [innerHtml]="block.tx.length"></div>
        </div>
      </div>
      <div class="my-tr">
        <div class="row">
          <div class="col-3-4 my-td">Timestamp</div>
          <div class="col-8-6 my-td" [innerHtml]="block.time | prettyTime"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="head"><h4>Transactions list</h4></div>
  <div class="my-table">
    <div class="header">
      <div class="row">
        <div class="col-3-4 col-sm-1-4 col-md-1-2 col-lg-0-8 col-xl-0-7 my-th">Block</div>
        <div class="col-8-6 col-sm-1-8 col-md-4-4 col-lg-6-4 col-xl-7-3 my-th">Tx</div>
        <div class="d-none d-sm-block col-sm-4-4 col-md-3-2 col-lg-2-4 col-xl-2 my-th">Amount ({{data.wallet | uppercase}})</div>
        <div class="d-none d-sm-block col-sm-4-4 col-md-3-2 col-lg-2-4 col-xl-2 my-th">Recipients</div>
      </div>
    </div>
    <div class="body">
      <div class="my-tr">
        <div class="row" *ngFor="let tx of blockTxs">
          <div class="col-3-4 col-sm-1-4 col-md-1-2 col-lg-0-8 col-xl-0-7 my-td" [innerHtml]="tx.blockindex"></div>
          <div class="col-8-6 col-sm-1-8 col-md-4-4 col-lg-6-4 col-xl-7-3 my-td"><a [routerLink]="['/tx/' + tx.txid]" [innerHtml]="tx.txid"></a></div>
          <div class="d-none d-sm-block col-sm-4-4 col-md-3-2 col-lg-2-4 col-xl-2 my-td" [innerHtml]="(tx.totalAmount / 100000000).toFixed(8)"></div>
          <div class="d-none d-sm-block col-sm-4-4 col-md-3-2 col-lg-2-4 col-xl-2 my-td" [innerHtml]="tx.vout.length"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center loader" *ngIf="gettingBlockTxs">
  <div class="d-table h-100">
    <div class="d-table-cell align-middle">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
