.search {
  .input-group-text {
    cursor: pointer;
    background: #fff;
  }
  input {
    border-right: none;
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  input:focus ~ .input-group-append {
    .input-group-text {
      border-color: #80bdff;
    }
  }
}

.box {
  font-size: 1em;
  text-align: center;
  .header {
    color: rgb(153, 153, 153);
  }
  .amount {
    color: rgb(153, 153, 153);
  }
}

.my-th {
  cursor: pointer;
}
