<div *ngIf="!gettingAvaliableMarkets">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let market of avaliableMarkets">
          <a class="nav-link pointer" [ngClass]="{'active': currentSymbol === market.symbol}" (click)="setCurrentTable(market.symbol)">{{market.symbol}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" *ngIf="market">
<!--    {{market.market_cap | json}}-->
    <div class="col-sm-4 mt-sm-3  col-xl-1-8">
      <div class="box">
        <div class="header">LAST PRICE</div>
        <div class="amount">{{market.market_cap.lastPrice}}</div>
      </div>
    </div>
    <div class="col-sm-4 mt-sm-3  col-xl-1-8">
      <div class="box">
        <div class="header">FIRST PRICE</div>
        <div class="amount">{{market.market_cap.openPrice}}</div>
      </div>
    </div>
    <div class="col-sm-4 mt-sm-3  col-xl-1-8">
      <div class="box">
        <div class="header">24H CHANGE</div>
        <div class="amount">{{market.market_cap.priceChange}}</div>
      </div>
    </div>
    <div class="col-sm-4 mt-sm-3  col-xl-1-8">
      <div class="box">
        <div class="header">24H HIGH</div>
        <div class="amount">{{market.market_cap.highPrice}}</div>
      </div>
    </div>
    <div class="col-sm-4 mt-sm-3  col-xl-1-8">
      <div class="box">
        <div class="header">24H LOW</div>
        <div class="amount">{{market.market_cap.lowPrice}}</div>
      </div>
    </div>
    <div class="col-sm-4 mt-sm-3  col-xl-3">
      <div class="box">
        <div class="header">24H VOLUME</div>
        <div class="amount">{{market.market_cap.volume}} {{market.market_cap.symbol.split('_')[0]}} / {{market.market_cap.quoteVolume}} {{market.market_cap.symbol.split('_')[1]}}</div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="market">
    <div class="col-sm-6">
      <div class="head"><h4>Bids</h4></div>
      <div class="my-table">
        <div class="header">
          <div class="row">
            <div class="col-7 col-sm-8 col-md-9 col-lg-10 col-xl-10 my-th">Price</div>
            <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-th">Qty</div>
          </div>
        </div>
        <div class="body">
          <div class="my-tr">
            <div class="row" *ngFor="let bid of market.bids">
              <div class="col-7 col-sm-8 col-md-9 col-lg-10 col-xl-10 my-td" [innerHtml]="(bid[0] / 100000000).toFixed(8)"></div>
              <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-td" [innerHtml]="bid[1]"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="head"><h4>Asks</h4></div>
      <div class="my-table">
        <div class="header">
          <div class="row">
            <div class="col-7 col-sm-8 col-md-9 col-lg-10 col-xl-10 my-th">Price</div>
            <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-th">Qty</div>
          </div>
        </div>
        <div class="body">
          <div class="my-tr">
            <div class="row" *ngFor="let ask of market.asks">
              <div class="col-7 col-sm-8 col-md-9 col-lg-10 col-xl-10 my-td" [innerHtml]="(ask[0] / 100000000).toFixed(8)"></div>
              <div class="col-5 col-sm-4 col-md-3 col-lg-2 col-xl-2 my-td" [innerHtml]="ask[1]"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center loader" *ngIf="gettingAvaliableMarkets || gettingMarket">
    <div class="d-table h-100">
      <div class="d-table-cell align-middle">
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
