<div *ngIf="tx">
  <h3>Block Details</h3>
  <div class="my-table">
    <div class="body">
      <div class="my-tr">
        <div class="row">
          <div class="col-3-4 my-td">Tx ID</div>
          <div class="col-8-6 my-td" [innerHtml]="tx.txid"></div>
        </div>
      </div>
      <div class="my-tr">
        <div class="row">
          <div class="col-3-4 my-td">Block Hash</div>
          <div class="col-8-6 my-td" [innerHtml]="tx.blockhash"></div>
        </div>
      </div>
      <div class="my-tr">
        <div class="row">
          <div class="col-3-4 my-td">Block height</div>
          <div class="col-8-6  my-td" [innerHtml]="tx.height"></div>
        </div>
      </div>
      <div class="my-tr">
        <div class="row">
          <div class="col-3-4 my-td">Confirmations</div>
          <div class="col-8-6 my-td" [innerHtml]="tx.confirmations"></div>
        </div>
      </div>
      <div class="my-tr">
        <div class="row">
          <div class="col-3-4 my-td">Timestamp</div>
          <div class="col-8-6 my-td" [innerHtml]="tx.time | prettyTime"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Input Addresses</h3>
      <div class="my-table">
        <div class="header">
          <div class="row">
            <div class="col-8 my-th">Address</div>
            <div class="col-4 my-th" *ngIf="tx.vin.length && tx.vin[0].addresses != 'coinbase'">Amount ({{this.data.wallet}})</div>
          </div>
        </div>
        <div class="body">
          <div class="my-tr" *ngFor="let vin of tx.vin">
            <div class="row">
              <div class="col-8 my-td" *ngIf="vin.addresses != 'coinbase'"><a [routerLink]="['/address/' + vin.addresses]">{{vin.addresses}}</a></div>
              <div class="col-4 my-td bg-success text-white" *ngIf="vin.addresses != 'coinbase'">{{(vin.amount / 100000000).toFixed(8)}}</div>
            </div>
            <div class="row" *ngIf="tx.vin.length && tx.vin[0].addresses == 'coinbase'">
              <div class="col-12 my-th my-td text-center bg-info text-white">New Coins</div>
            </div>
          </div>
          <div class="my-tr" *ngIf="!tx.vin.length">
            <div class="row">
              <div class="col-12 my-th my-td text-center bg-info text-white">POS</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h3>Recipients</h3>
      <div class="my-table">
        <div class="header">
          <div class="row">
            <div class="col-8 my-th">Address</div>
            <div class="col-4 my-th">Amount ({{this.data.wallet}})</div>
          </div>
        </div>
        <div class="body">
          <div class="my-tr">
            <div class="row" *ngFor="let vout of tx.vout">
              <div class="col-8 my-td"><a [routerLink]="['/address/' + vout.addresses]">{{vout.addresses}}</a></div>
              <div class="col-4 my-td bg-success text-white">{{(vout.amount / 100000000).toFixed(8)}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center loader" *ngIf="gettingBlock">
  <div class="d-table h-100">
    <div class="d-table-cell align-middle">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
