<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Explorer({{data.wallet}})</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="#" [routerLink]="'/'">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="#" [routerLink]="'/richlist'">Richlist</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="#" [routerLink]="'/masternodes'">Masternodes</a>
      </li>
    </ul>
    <form class="form search my-2 my-lg-0" (ngSubmit)="onSearch()">
      <div class="input-group">
        <input type="text" class="form-control bg-light" placeholder="Search" name="main-search" [(ngModel)]="search">
        <div class="input-group-append">
          <button class="input-group-text" type="submit" id="basic-addon1"><span class="fa fa-search form-control-feedback"></span></button>
        </div>
      </div>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm header-box">
      <h4>Difficulty</h4>
      <h6>{{data.stats.difficulty}}</h6>
    </div>
    <div class="col-sm header-box">
      <h4>Coin Supply</h4>
      <h6>{{data.stats.moneysupply}}</h6>
    </div>
    <div class="col-sm header-box">
      <h4>Network</h4>
      <h6>{{data.stats.hashrate}} (GH/s)</h6>
    </div>
    <div class="col-sm header-box">
      <h4>Masternodes</h4>
      <h6>total: {{data.stats.masternodesCount.total}}, enabled: {{data.stats.masternodesCount.enabled}}</h6>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center loader" *ngIf="searching">
  <div class="d-table h-100">
    <div class="d-table-cell align-middle">
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
