<div class="container">
  <div class="row">
    <div class="col-sm header-box">
      <h4>Difficulty</h4>
      <h6>{{data.stats.difficulty}}</h6>
    </div>
    <div class="col-sm header-box">
      <h4>Coin Supply</h4>
      <h6>{{data.stats.moneysupply}}</h6>
    </div>
    <div class="col-sm header-box">
      <h4>Network</h4>
      <h6>{{data.stats.hashrate}} (GH/s)</h6>
    </div>
    <div class="col-sm header-box">
      <h4>Masternodes</h4>
      <h6>total: {{data.stats.masternodesCount.total}}, enabled: {{data.stats.masternodesCount.enabled}}</h6>
    </div>
  </div>
</div>
